@page
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavManager

@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<h2>Your email has been succesfully confirmed. You can now log in.</h2>
<a class="btn btn-success" href="~/Identity/Account/Login">Log in</a>

