@page "/Hilleditor"

@using PracaInżynierskaTomaszBaczek.Models

<h3>HillEditor</h3>

<div>
    <form>
        <label for="hsize">Hill size:</label>
        <input type="number" id="hsize" name="hsize" @bind="@inputHillSize" @oninput="OnInputEvent"><br><br>
        <label for="hname">Hill name:</label>
        <input type="text" id="hname" name="hname"@bind="@inputmodel.HillName" @oninput="@((e) => { inputmodel.HillName = (string)e.Value; })"><br><br>
        <label for="lname">Country code:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>

@code {
    private UserInputModel inputmodel = new UserInputModel();
    private UserInputModel savedmodel = new UserInputModel();
    private int inputHillSize = 140;

    private void OnInputEvent(ChangeEventArgs changeEvent)
    {
        inputHillSize = (int)changeEvent.Value;

        //savedmodel.HillSize = inputmodel.HillSize;
        //savedmodel.HillName = inputmodel.HillName;
        //savedmodel.CountryCode = inputmodel.CountryCode;

    }

}