<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-danger">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register" class="btn btn-primary">Register</a>
        <a href="Identity/Account/Login" class="btn btn-success">Log in</a>
    </NotAuthorized>
</AuthorizeView>
